* {
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    width: 80%;
    overflow: hidden;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-evenly;
}

.card {
    background: #f0f;
    border-radius: 7px;
    overflow: hidden;
    flex-basis: 200px;
    height: 200px;
    margin: 0 20px 40px;
    text-decoration: none;
}

.card-image {
    width: 200px;
    height: 200px;
}

.error {
  color: red;
  text-align: center;
  font-weight: bold;
}

.message {
  color: black
  text-align: center;
  font-weight: bold;
}