* {
    box-sizing: border-box;
}

body,
html {
    padding: 0;
    border: 0;
    height: 100%;
    width: 100%;
}

body {
    //padding-top: 50px;
    background: -webkit-linear-gradient(150deg, rgba(245, 245, 245, 0) 5%, #282828 90%);
    background: -o-linear-gradient(150deg, rgba(245, 245, 245, 0) 5%, #282828 90%);
    background: linear-gradient(150deg, rgba(245, 245, 245, 0) 5%, #282828 90%);
}

.container {
    margin: 0 auto;
    width: 80%;
    overflow: hidden;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-evenly;
}

.card {
    background: #f0f;
    border-radius: 7px;
    overflow: hidden;
    flex-basis: 200px;
    height: 200px;
    margin: 0 20px 40px;
    text-decoration: none;
}

.card-image {
    width: 200px;
    height: 200px;
}