* {
    box-sizing: border-box;
}
.container {
    margin: 0 auto;
    width: 80%;
    overflow: hidden;
}
.cards {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-evenly;
}
.card {
    /*display:flex;
    justify-content: center;
    align-items: center;
    flex-basis: 200px;
    */
    display: block;
    background-color: #000;
    border-radius: 7px;
    overflow: hidden;
    height: 200px;
    width: 200px;
    margin: 0 20px 40px;
    text-decoration: none;
}
.card-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
